.blog,
.archive {
	.intro {
		padding-bottom: clamp(1.25rem, 0.942rem + 1.315vw, 2.125rem);
	}
	.posts-wrap {
		margin-bottom: clamp(3.75rem, 2.782rem + 4.131vw, 6.5rem);
	}
	article.post {
		margin-bottom: clamp(2.5rem, 1.994rem + 2.16vw, 3.938rem);
		.thumb-wrap {
			@include breakpoint(medium down) {
				margin-bottom: 2rem;
			}
		}
		.link-wrap {
			padding-top: clamp(0.625rem, 0.515rem + 0.469vw, 0.938rem);
		}
	}
}
article.post {
	.post-navigation {
		a {
			color: $color-link-blue;
			font-size: clamp(1.125rem, 1.037rem + 0.376vw, 1.375rem);
			display: inline-flex;
			transition: color .25s ease;
			&:hover,
			&:focus {
				color: $color-navy-blue;
				svg path {
					fill: $color-navy-blue;
				}
			}
		}
		svg path {
			transition: all .25s ease;
		}
		.nav-previous svg {
			margin-right: 6px;
		}
		.nav-next svg {
			margin-left: 6px;
		}
	}
}
