.page-template-page-home {
	.intro-cta {
		background-image: url(../images/background-lines.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		h1,
		.h1,
		h2,
		.h2,
		h3,
		.h3,
		h4,
		.h4 {
			margin-bottom: 1.15em;
		}
		.entry-content {
			padding-top: clamp(2.375rem, 1.451rem + 3.944vw, 5rem);
			padding-bottom: clamp(4.5rem, 2.761rem + 7.418vw, 9.438rem);
		}
		.value-proposition {
			padding-bottom: clamp(4.5rem, 2.783rem + 7.324vw, 9.375rem);
			h2 {
				line-height: .895;
			}
			.h2 {
				@include breakpoint(tablet) {
					margin-bottom: 0;
				}
			}
			
			.svg-wrap {
				margin-bottom: rem-calc(24);
				@include breakpoint(medium down) {
					transform: rotate(90deg);
					margin-bottom: rem-calc(36);
				}
			}
			
			.inner {
				border-radius: 0 200px 0 200px;
				border-radius: 0 clamp(6.25rem, 4.049rem + 9.39vw, 12.5rem) 0 clamp(6.25rem, 4.049rem + 9.39vw, 12.5rem);
				overflow: hidden;
				background-color: $color-link-blue;
				box-shadow: 0px 0px 10px 0px $color-link-blue;
				padding: 0 40px;
				> .grid-x {
					padding-top: 50px;
					padding-bottom: 50px;
					min-height: rem-calc(388);
					@include breakpoint(tablet down) {
						padding-top: 84px;
					}
				}
				[data-name="three-chevs"] g path {
					transition: .3s ease;
				}
				[data-name="three-chevs"] g:nth-child(1) path {
				  animation: fillAnim 2s infinite;
				  animation-delay: 0s;
				}
				
				[data-name="three-chevs"] g:nth-child(2) path {
				  animation: fillAnim 2s infinite;
				  animation-delay: 0.1s;
				}
				
				[data-name="three-chevs"] g:nth-child(3) path {
				  animation: fillAnim 2s infinite;
				  animation-delay: 0.2s;
				}
				
			}
		}	
	}
	.image-title-cta-cards {
		background-color: #003B8E;
		padding-top: clamp(3.125rem, 1.717rem + 6.009vw, 7.125rem);
		padding-bottom: clamp(4rem, 2.504rem + 6.385vw, 8.25rem);
		h2 {
			margin-bottom: clamp(2.875rem, 1.555rem + 5.634vw, 6.625rem);
		}
		> img {
			mix-blend-mode: soft-light;
		}
		.cards {
			padding-bottom: clamp(1.563rem, 1.012rem + 2.347vw, 3.125rem);
			> .cell {
				margin-bottom: 40px;
				@include breakpoint(medium) {
					margin-bottom: 56px;
				}
				a {
					height: 100%;
					padding: 7px;
					border-radius: 60px 0 60px 0;
					overflow: hidden;
					box-shadow: 0px 3px 2px 0px rgba(0,0,0,1);
					.img-wrap {
						padding-top: 90.893%;
						border-radius: 58px 0 0 0;
						overflow: hidden;
					}
					.title {
						max-width: 208px;
						font-size: clamp(1.125rem, 1.081rem + 0.188vw, 1.25rem);
						line-height: 1.2;
						padding: 14px 14px 6px 6px;
						transition: color .25s ease;
						.inline-icon-wrap {
							white-space: nowrap;
						}
						svg {
							display: inline-block;
							vertical-align: middle;
							width: auto;
							margin-left: 0.25em;
							path {
								transition: all .25s ease;
							}
						}
					}
					&:hover,
					&:focus {
						.title {
							color: $color-text-light-gray;
							svg path {
								fill: $color-text-light-gray;
							}
						}
					}
				}
			}
		}
		.cta-link {
			.inline-icon-wrap {
				white-space: nowrap;
			}
			a {
				font-size: rem-calc(22);
				transition: color .25s ease;
				svg {
					display: inline-block;
					vertical-align: middle;
					width: auto;
					margin-left: 0.25em;
					path {
						transition: all .25s ease;
					}
				}
				&:hover,
				&:focus {
					color: $color-navy-blue;
					svg path {
						fill: $color-navy-blue;
					}
				}
			}
		}
	}
	.icon-title-cards {
		background-color: #E5E5E5;
		padding-top: clamp(4.75rem, 3.011rem + 7.418vw, 9.688rem);
		padding-bottom: clamp(3.563rem, 2.198rem + 5.822vw, 7.438rem);
		h2 {
			margin-bottom: 1.15em;
		}
		.it-cards {
			padding-top: clamp(0.875rem, 0.567rem + 1.315vw, 1.75rem);
			padding-bottom: clamp(1.875rem, 1.215rem + 2.817vw, 3.75rem);
		}
		.it-card {
			margin-bottom: $smallGutter;
			@include breakpoint(medium) {
				margin-bottom: $mediumGutter;
			}
			.card-inner {
				background-color: #F7F7F7;
				border: 7px solid $white;
				border-radius: 20px;
				overflow: hidden;
				box-shadow: 0px 3px 6px 0px rgba($black, .16);
				padding: clamp(1.375rem, 0.935rem + 1.878vw, 2.625rem) 2rem clamp(1.438rem, 0.953rem + 2.066vw, 2.813rem);
			}
			.icon-wrap {
				display: inline-block;
				max-width: 98px;
				margin-bottom: clamp(0.625rem, 0.427rem + 0.845vw, 1.188rem);
			}
			.title {
				font-size: rem-calc(24);
				line-height: 1.125;
			}
		}
	}
}
@keyframes fillAnim {
  0%, 100% {
	fill: #79b9f8;
  }
  12.5% {
	fill: $color-text-light-gray; /* Change to desired highlight color */
  }
  25% {
	fill: #79b9f8;
  }
}