.page-template-page-home {
	h2 {
		font-size: clamp(2.612rem, 2.55rem + 0.267vw, 2.75rem);
	}
	.intro-cta {
		background-image: url(../images/background-lines.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		h1,
		.h1,
		h2,
		.h2,
		h3,
		.h3,
		h4,
		.h4 {
			margin-bottom: 1.15em;
		}
		.btns-group {
			column-gap: 20px;
			row-gap: 50px;
			@include breakpoint(medium) {
				column-gap: 30px;
			}
		}
		.entry-content {
			padding-top: clamp(2.375rem, 1.451rem + 3.944vw, 5rem);
			padding-bottom: clamp(4.5rem, 2.761rem + 7.418vw, 9.438rem);
		}
		.value-proposition-section {
			padding-bottom: clamp(4.5rem, 2.783rem + 7.324vw, 9.375rem);
			.value-proposition {
				overflow: hidden;
				border-radius: 0 200px 0 200px;
				border-radius: 0 clamp(6.25rem, 4.049rem + 9.39vw, 12.5rem) 0 clamp(6.25rem, 4.049rem + 9.39vw, 12.5rem);
				overflow: hidden;
				background-color: $color-link-blue;
				box-shadow: 0px 0px 10px 0px $color-link-blue;
				.value-proposition-image-slider-mobile,
				.value-proposition-image-slider-desktop {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
			.value-proposition-text-slider-mobile,
			.value-proposition-text-slider-desktop {
				.height-control {
					display: flex;
					align-items: center;
					justify-content: center;
					padding-bottom: 60px;
					min-height: 387px;
					@include breakpoint(tablet) {
						padding-top: 60px;
					}
				}
				h2 {
					margin: 0;
					padding: 150px 0;
					line-height: .895;
					font-weight: 600;
					font-size: clamp(2.813rem, 2.727rem + 0.364vw, 3rem);
					@include breakpoint(tablet) {
						padding: 0;
					}
				}
			}
			.value-proposition-text-slider-desktop {
				h2 {
					padding: 0 60px;
				}
			}
			.swiper-button-next {
				position: absolute;
				margin: 0;
				top: calc(100% - 150px);
				left: 50%;
				height: auto;
				width: auto;
				transform: translate(-50%, -50%);
				&:after {
					@extend .show-for-sr;
				}
				@include breakpoint(tablet) {
					top: 50%;
					transform: translate(-50%, -50%);
				}
				[data-name="three-chevs"] g path {
					transition: .3s ease;
				}
				[data-name="three-chevs"] g:nth-child(1) path {
				  animation: fillAnim 2s infinite;
				  animation-delay: 0s;
				}
				
				[data-name="three-chevs"] g:nth-child(2) path {
				  animation: fillAnim 2s infinite;
				  animation-delay: 0.1s;
				}
				
				[data-name="three-chevs"] g:nth-child(3) path {
				  animation: fillAnim 2s infinite;
				  animation-delay: 0.2s;
				}
			}
			.svg-wrap {
				margin-bottom: rem-calc(24);
				@include breakpoint(medium down) {
					transform: rotate(90deg);
					margin-bottom: rem-calc(36);
				}
			}
			
			.inner {
				border-radius: 0 200px 0 200px;
				border-radius: 0 clamp(6.25rem, 4.049rem + 9.39vw, 12.5rem) 0 clamp(6.25rem, 4.049rem + 9.39vw, 12.5rem);
				overflow: hidden;
				background-color: $color-link-blue;
				box-shadow: 0px 0px 10px 0px $color-link-blue;
				padding: 0 40px;
				> .grid-x {
					padding-top: 50px;
					padding-bottom: 50px;
					min-height: rem-calc(388);
					@include breakpoint(tablet down) {
						padding-top: 84px;
					}
				}
				[data-name="three-chevs"] g path {
					transition: .3s ease;
				}
				[data-name="three-chevs"] g:nth-child(1) path {
				  animation: fillAnim 2s infinite;
				  animation-delay: 0s;
				}
				
				[data-name="three-chevs"] g:nth-child(2) path {
				  animation: fillAnim 2s infinite;
				  animation-delay: 0.1s;
				}
				
				[data-name="three-chevs"] g:nth-child(3) path {
				  animation: fillAnim 2s infinite;
				  animation-delay: 0.2s;
				}
				
			}
		}	
	}
	.image-title-cta-cards {
		padding-top: clamp(3.125rem, 1.717rem + 6.009vw, 7.125rem);
		padding-bottom: clamp(4rem, 2.504rem + 6.385vw, 8.25rem);
		.cards-title {
			max-width: 1240px;
			margin-left: auto;
			margin-right: auto;
		}
		h2 {
			margin-bottom: clamp(2.875rem, 1.555rem + 5.634vw, 6.625rem);
		}
		.cards {
			padding-bottom: clamp(1.563rem, 1.012rem + 2.347vw, 3.125rem);
			> .cell {
				margin-bottom: 40px;
				@include breakpoint(medium) {
					margin-bottom: 56px;
				}
				a {
					height: 100%;
					padding: 7px;
					border-radius: 60px 0 60px 0;
					overflow: hidden;
					filter: drop-shadow(0px 3px 2px #000000);
					.img-wrap {
						padding-top: 90.893%;
						border-radius: 58px 0 0 0;
						overflow: hidden;
					}
					.title {
						max-width: 208px;
						font-size: clamp(1.125rem, 1.081rem + 0.188vw, 1.25rem);
						line-height: 1.2;
						padding: 14px 14px 6px 6px;
						transition: color .25s ease;
						.inline-icon-wrap {
							white-space: nowrap;
						}
						svg {
							display: inline-block;
							vertical-align: middle;
							width: auto;
							margin-left: 0.25em;
							path {
								transition: all .25s ease;
							}
						}
					}
					&:hover,
					&:focus {
						.title {
							color: $color-text-light-gray;
							svg path {
								fill: $color-text-light-gray;
							}
						}
					}
				}
			}
		}
		.cta-link {
			.inline-icon-wrap {
				white-space: nowrap;
			}
			a {
				font-size: rem-calc(22);
				transition: color .25s ease;
				svg {
					display: inline-block;
					vertical-align: middle;
					width: auto;
					margin-left: 0.25em;
					path {
						transition: all .25s ease;
					}
				}
			}
		}
	}
	.icon-title-cards {
		background-image: linear-gradient(-0.11deg, #e5e5e5 0%, #f4f4f4 48.3%, #e5e5e5 100%);
		padding-top: clamp(4.75rem, 3.011rem + 7.418vw, 9.688rem);
		padding-bottom: clamp(3.563rem, 2.198rem + 5.822vw, 7.438rem);
		h2 {
			margin-bottom: 1.15em;
		}
		.it-cards-wrap {
			max-width: 270px;
			margin-left: auto;
			margin-right: auto;
			@include breakpoint(medium) {
				max-width: 550px;
				margin-left: auto;
				margin-right: auto;
			}
			@include breakpoint(tablet) {
				max-width: 100%;
			}
		}
		.it-cards {
			padding-top: clamp(0.875rem, 0.567rem + 1.315vw, 1.75rem);
			padding-bottom: clamp(1.875rem, 1.215rem + 2.817vw, 3.75rem);
		}
		.it-card {
			margin-bottom: $smallGutter;
			@include breakpoint(medium) {
				margin-bottom: $mediumGutter;
			}
			.card-inner {
				background-color: #F7F7F7;
				border: 7px solid $white;
				border-radius: 20px;
				overflow: hidden;
				box-shadow: 0px 3px 6px 0px rgba($black, .16);
				padding: clamp(1.375rem, 0.935rem + 1.878vw, 2.625rem) 2rem clamp(1.438rem, 0.953rem + 2.066vw, 2.813rem);
			}
			.icon-wrap {
				display: inline-block;
				max-width: 98px;
				margin-bottom: clamp(0.625rem, 0.427rem + 0.845vw, 1.188rem);
			}
			.title {
				font-size: rem-calc(24);
				line-height: 1.125;
			}
		}
	}
}
@keyframes fillAnim {
  0%, 100% {
	fill: #79b9f8;
  }
  12.5% {
	fill: $color-text-light-gray;
  }
  25% {
	fill: #79b9f8;
  }
}