.page-template-page-material-detail {
	.intro {
		padding-top: clamp(1.125rem, 1.015rem + 0.469vw, 1.438rem);
		padding-bottom: clamp(2.25rem, 1.766rem + 2.066vw, 3.625rem);
		.media-slider {
			border-radius: clamp(9rem, 7.21rem + 7.636vw, 12.938rem) 0 0 0;
			overflow: hidden;
			border: 1px solid $color-link-blue;
			.arrows-thumbs {
				padding-top: 0;
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}
		.copy-wrap {
			@include breakpoint(small down) {
				margin-bottom: 2rem;
			}
			@include breakpoint(xxlarge) {
				padding-left: 79px;
			}
			p {
				font-size: rem-calc(20);
				font-weight: 500;
				line-height: 1.65;
			}
		}
	}
	.entry-content > * {
		margin-top: 0 !important;
	}
	.chev-svg-wrap {
		svg {
			path {
				&:nth-child(1) {
					  animation-delay: 0s;
				}
				&:nth-child(2) {
					animation: fillPulse2 2s linear infinite;
					animation-delay: 0.15s;
				}
				&:nth-child(3) {
					animation: fillPulse3 2s linear infinite;
					animation-delay: 0.3s;
				}
			}
		}
	}
	.cards {
		&.two-or-less {
			article {
				.card-inner {
					width: 100%;
					display: inline-block;
					max-width: 720px;
					border-radius: 47px 0 47px 0;
					> .grid-x {
						@include breakpoint(small down) {
							flex-direction: column;
						}
					}
					.img-cell {
						@include breakpoint(medium) {
							width: 48%;
						}
						.img-wrap {
							padding: 2rem 1rem;
							@include breakpoint(large) {
								padding: 2rem;
							}
						}
					}
					.text-cell {
						@include breakpoint(small down) {
							flex: 1;
						}
					}
					.text-wrap {
						padding: 1.71rem 4.2rem 3rem 1rem;
					}
				}
			}
		}
		&.three-or-more {
			article {
				.card-inner {
					border-radius: 57px 0 57px 0;
					height: 100%;
					> .grid-x {
						flex-direction: column;
						height: 100%;
						.text-cell {
							flex: 1;
						}
					}
					.text-wrap {
						padding: .875rem;
					}
					.img-wrap {
						position: relative;
						overflow: hidden;
						padding-top: 76%;
						.img-br {
							position: absolute;
							top: .875rem;
							left: .875rem;
							right: .875rem;
							width: calc( 100% - calc(.875rem* 2) );
							height: calc( 100% - calc(.875rem* 2) );
							overflow: hidden;
							border-radius: 40px 0 0 0;
						}
						img {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
					.text-wrap {
						height: 100%;
						padding: 0 0.875rem 1.2rem;
					}
				}
			}
		}
		article {
			margin-bottom: clamp(2.188rem, 1.505rem + 2.911vw, 4.125rem);
			.card-inner {
				background-color: #F7F7F7;
				border: 8px solid $white;
				overflow: hidden;
				box-shadow: 0px 1px 18px 0px #DDDDDD;
				transition: box-shadow .3s ease;
				&:has(a.button:hover) {
					box-shadow: 0px 1px 18px 0px $color-link-blue;
				}
				h3.h4 {
					margin-bottom: 0.62rem;
				}
				p {
					font-size: rem-calc(20);
					font-weight: 500;
					line-height: 1.2;
				}
				.link-wrap {
					padding-top: 0.54rem;
				}
			}
		}
	}
	.related-machines {
		.two-or-less {
			flex-direction: column;
			align-items: center;
			> .cell {
				max-width: 758px;
			}
		}
		.three-or-more {
			justify-content: center;
			> .cell {
				max-width: 364px
			}
		}
		.chev-svg-wrap {
			margin-bottom: clamp(2.5rem, 1.994rem + 2.16vw, 3.938rem);
		}
		h2 {
			margin-bottom: clamp(1.25rem, 1.03rem + 0.939vw, 1.875rem);
		}
	}
}


@keyframes fillPulse2 {
  0%, 100% {
	fill: $color-link-blue;
  }
  12.5% {
	fill: get-color('primary');
  }
  25% {
	fill: $color-link-blue;
  }
}

@keyframes fillPulse3 {
  0%, 100% {
	fill: #82BCF5;
  }
  12.5% {
	fill: get-color('primary');
  }
  25% {
	fill: #82BCF5;
  }
}
