footer#colophon {
	background-color: $color-navy-blue; 
	a:not(.social-link) {
		color: $color-link-blue;
		padding: 0 4px;
	}
	.logo-caption-wrap {
		margin-bottom: clamp(1.125rem, 0.707rem + 1.784vw, 2.313rem);
	}
	.logo {
		max-width: 170px;
		@include breakpoint(small down) {
			width: 100%;
			max-width: none;
			text-align: center;
			img {
				max-width: 170px;
			}
		}
		@include breakpoint(tablet) {
			max-width: 220px;
		}
		img,
		svg {
			filter: drop-shadow(0px 3px 16px #000);
		}
	}
	p.logo-caption {
		font-size: rem-calc(13);
		margin: 4px 0 0;
	}
	h3,
	.footer-menu > li > a {
		@extend .h3;
		font-weight: 500;
		font-size: rem-calc(20);
		margin: 0 0 .3em;
		color: $white;
	}
	.address-row {
		font-size: rem-calc(15);
		padding-bottom: 1.938rem;
		&.contact-support {
			padding-bottom: 11px;
		}
	}
	.footer-menu {
		> li {
			&:not(.menu-item-has-children) {
				margin-bottom: .5rem;
				@include breakpoint(medium) {
					margin-bottom: 1.78rem;
				}
			}
			> a {
				margin: 0 0 .1rem;
			}
		}
		.sub-menu {
			list-style: none;
			margin: 0;
			padding: 10px 0;
			a {
				font-size: rem-calc(15);
				line-height: .933333;
				color: $color-link-blue;	
			}
			> li {
				margin-bottom: clamp(0.625rem, 0.405rem + 0.939vw, 1.25rem);
			}
		}
	}
	.global-social-links {
		@include breakpoint(small down) {
			justify-content: center;
			margin: 0;
		}
	}
	.social-link > svg {
		width: 40px;
		height: auto;
	}
	.footer-info {
		padding-top: clamp(5.031rem, 4.484rem + 2.738vw, 7.188rem);
		padding-bottom: clamp(1.925rem, 1.715rem + 1.048vw, 2.75rem);
		@include breakpoint(medium) {
			padding-top: clamp(5.031rem, 4.484rem + 2.738vw, 7.188rem);
			padding-bottom: clamp(1.925rem, 1.715rem + 1.048vw, 2.75rem);
		}
		.footer-col {
			@include breakpoint(medium) {
				margin-bottom: 4rem;
			}
		}
		p:not(.logo-caption),
		.p {
			font-size: rem-calc(15);
			line-height: 1.4666;
		}
		#social-links {
			@include breakpoint(small down) {
				justify-content: center;
			}
			svg path {
				transition: all .25s ease;
			}
			a:hover svg {
				> path {
					stroke: $white;
				}
				g path {
					fill: $white;
				}
			}
		}
	}
	.site-info {
		background-color: #1C1D1F;
		padding-top: rem-calc(20);
		padding-bottom: rem-calc(20);
		p {
			margin-bottom: 0;
			font-size: rem-calc(15);
			line-height: 1.466;
		}
	}
	
}