.has-scrolled {
	header.site-header .top-bar.fixed {
		transform: translateY(0);
		padding-top: 25px;
		padding-bottom: 25px;
	}
}
header.site-header {
	position: relative;
	z-index: 99999;
	background-color: #0F0F1F;
	@include breakpoint(medium down) {
		position: fixed;
		z-index: 99999;
		top: 0;
		left: 0;
		width: 100%;
		height: $mobile_header_height;
		// padding-bottom: .8rem;
	}
	@include breakpoint(small down) {
		.top-bar .top-bar-left, .top-bar .top-bar-right {
			flex: 0 0 auto;
		}
	}
	a.header-phone {
		font-family: $header-font-family;
		margin-right: 6px;
	}
	.top-bar-wrap.grid-container.fluid {
		padding-left: 0;
		padding-right: 0;
	}
	.top-bar {
		.logo {
			max-width: 170px;
			margin: 24px 0;
			@include breakpoint(xxlarge) {
				margin: 37px 0;
				max-width: 220px;
			}
			a {
				padding: 0;
			}
			img,
			svg {
				@include breakpoint(medium) {
					filter: drop-shadow(0px 3px 34px #000);
				}
			}
		}
		&.fixed {
			position: fixed;
			z-index: 99999;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			padding: 0 calc($smallGutter * .5);
			background-color: rgba(#0F0F1E, .88);
			@include breakpoint(medium) {
				padding: 0 calc($mediumGutter * .5);
			}
			transform: translateY(-100%);
			transition: transform .5s ease;
			.logo img {
				max-width: 250px;
				max-height: 55px;
			}
		}
		&.load {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			//height: 100%;
			padding: 0 calc($smallGutter * .5);
			@include breakpoint(medium) {
				height: 100%;
				padding: 0 0 0 calc($mediumGutter * .5);
			}
			@include breakpoint(tablet) {
				align-items: flex-start;
				padding: 0 0 calc($mediumGutter * .5) 1rem;
			}
			@include breakpoint(xlarge) {
				align-items: center;
			}
			> div {
				height: 100%;
				position: relative;
			}
			.pre-header {
				// margin-right: calc(-#{$smallGutter * 0.5});
				overflow: hidden;
				padding-bottom: 9px;
				@include breakpoint(medium) {
					// margin-right: calc(-#{$mediumGutter * 0.5});
				}
				@include breakpoint(large) {
					margin-right: 0;
				}
				> .cell {
					padding-right: 0;
				}
				.inner {
					@include breakpoint(medium) {
						background: #0F0F1F;
						border: 1px solid rgba(#74BAFF, .55);
						border-top: 0;
						border-right: 0;
						border-radius: 0 0 0 30px;
						padding: 0.25rem 1.5rem 0.25rem 1.7rem;
						filter: drop-shadow(0px 3px 6px get-color(primary));
					}
				}
			}
		}			
		.main-nav {
			align-items: center;
			font-family: $header-font-family;
			padding-top: 0.65rem;
			a {
				color: $color-link-blue;
				font-family: $header-font-family;
				font-weight: 500;
				font-size: rem-calc(20);
				line-height: 1;
				padding: 0.78rem 1.45rem 1.034rem;
				&:hover,
				&:focus {
					color: $light-gray;	
				}
			}
			> li {
				margin: 0 0rem 0rem;
				
				> a {
					display: block;
					border: 1px solid transparent;
					border-bottom: 0;
					border-radius: 20px 20px 0 0;
					text-shadow: 0px 3px 6px rgba(0,0,0,0.6);
				}
				
				&.home-link {
					a {
						font-size: 0;
						&:after {
							content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="53.529" height="50" viewBox="0 0 53.529 50"><defs><filter id="a" x="0" y="0" width="53.529" height="50" filterUnits="userSpaceOnUse"><feOffset dx="1" dy="1"/><feGaussianBlur stdDeviation="5" result="blur"/><feFlood flood-color="%230032a0"/><feComposite operator="in" in2="blur"/><feComposite in="SourceGraphic"/></filter></defs><g filter="url(%23a)"><path data-name="ic_home_24px" d="M23.412 34v-7.059h4.706V34H34v-9.412h3.529L25.765 14 14 24.588h3.529V34Z" fill="%234DA5FC"/></g></svg>');
							display: block;
						}
						&:hover,
						&:focus {
							a {
								&:after {
									content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="53.529" height="50" viewBox="0 0 53.529 50"><defs><filter id="a" x="0" y="0" width="53.529" height="50" filterUnits="userSpaceOnUse"><feOffset dx="1" dy="1"/><feGaussianBlur stdDeviation="5" result="blur"/><feFlood flood-color="%230032a0"/><feComposite operator="in" in2="blur"/><feComposite in="SourceGraphic"/></filter></defs><g filter="url(%23a)"><path data-name="ic_home_24px" d="M23.412 34v-7.059h4.706V34H34v-9.412h3.529L25.765 14 14 24.588h3.529V34Z" fill="%23fff"/></g></svg>');
								}
							}
						}
					}
					&.active {
						a {
							&:after {
								content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="53.529" height="50" viewBox="0 0 53.529 50"><defs><filter id="a" x="0" y="0" width="53.529" height="50" filterUnits="userSpaceOnUse"><feOffset dx="1" dy="1"/><feGaussianBlur stdDeviation="5" result="blur"/><feFlood flood-color="%230032a0"/><feComposite operator="in" in2="blur"/><feComposite in="SourceGraphic"/></filter></defs><g filter="url(%23a)"><path data-name="ic_home_24px" d="M23.412 34v-7.059h4.706V34H34v-9.412h3.529L25.765 14 14 24.588h3.529V34Z" fill="%23fff"/></g></svg>');
							}
						}
					}
				}
				
				&.is-active {
					> a {
						color: $light-gray;
						background: #0F0F1E;
						border-color: #466C99;
						position: relative;
						z-index: 2;
						&:after {
							content: '';
							display: block;
							top: calc(100% + 6px);
							left: 0;
							width: 100%;
							height: 1px;
							background: #0F0F1E;
							z-index: 2;
						}
					}
				}
					
				&.menu-item-has-children {
					
					ul.submenu {
						background: rgba(#0F0F1E, .89);
						border-radius: 0 20px 0 20px;
						filter: drop-shadow(0px 3px 6px get-color(primary));
						li {
							span {
								display: block;
								&.subtitle {
									font-size: rem-calc(15);
									line-height: 1.2;
								}
							}
							a {
								transition: color .25s ease;
								&:hover,
								&:focus {
									color: $light-gray;
								}
								
							}
							&.current-menu-item {
								a {
									color: $light-gray;
								}
							}
						}
					}
		
				}

			}
		}
		
		.menu-toggle-wrap {
			width: auto;
			flex: 0 0 auto;   
		}
	
	}
	
}

.pre-header-links {
	a {
		display: flex !important;
		&:hover,
		&:focus {
			color: $color-link-blue;
			svg path {
				fill: $color-link-blue;
			}
		}
		svg, 
		img {
			margin-right: 12px;
		}
	}
}

a.menu-toggle {
	padding: 0;
	width: 40px;
	height: 40px;
	position: relative;
	&.top-row-toggle {
		display: none !important;
		@media screen and (min-width: 375px) {
			display: block !important;
		}
	}
	span {
		position: absolute;
		left: 0;
		right: 0;
		width: 40px;
		height: 8px;
		background-color: $color-link-blue;
		transition: all .3s ease;
		
		&:nth-child(1) {
			top: 2px;
			border-top-right-radius: 8px;
		}

		&:nth-child(2) {
			top: 16px;
		}
		
		&:nth-child(3) {
			bottom: 2px;
			border-bottom-left-radius: 8px;
		}
							
	}
	
	&.close {
		span {
			border-radius: 0;
			height: 6px;
			&:nth-child(1) {
				top: 2px;
				transform: translate(0px, 15px) rotate(-45deg);
			}
	
			&:nth-child(2) {
				top: 16px;
				left: 50%;
				right: 100%;
				width: 0;
			}
			
			&:nth-child(3) {
				bottom: 2px;
				transform: translate(0px, -15px) rotate(45deg);
			}
		}				
	}
	
}

.off-canvas-wrapper {
	.pre-header-links {
		justify-content: center;
	}
	.off-canvas.position-right {
	}
	.off-canvas-content.is-open-right.has-transition-push {
		transform: translateX(0);
	}
	.off-canvas.position-right {
		width: 100%;
		max-width: 481px;
		max-height: 100vh;
		padding: 1.45rem .5rem 3rem 0;
		transform: translateX(100%);
		z-index: 999999;
		@media screen and (max-width: 374px) {
			max-height: 100vh;
		}
		&.is-open {
			transform: translateX(0);
		}
		.inner {
			position: relative;
			z-index: 5;
			padding: 50px 0;
			.close-menu {
				padding: 10px 0;
				margin-right: -12px;
				svg g {
					transition: .25s ease;
				}
				a:hover {
					svg g {
						fill: $white;
					}
				}
			}
		}
		.close-btn-wrap {
			padding-right: 1.25rem;
			padding-bottom: 1.8rem;
		}
		ul#offcanvas-nav {
			padding-bottom: 57px;
			> li {
				margin-bottom: 2px;
				&.home-link {
					display: none;
				}
				> a {
					display: inline-block;
					&:hover,
					&:focus {
						color: $white;
					}
				}
				&.active a {
					color: $white;
				}
				&:has(>button[aria-expanded="true"]) > a {
					color: $white;
				}
			}
			li {
				a {
					font-size: rem-calc(20);
					font-family: $header-font-family;
					margin: 0;
					color: $color-link-blue;
					font-weight: 600;
					padding: 1rem 1.72rem;
					transition: color .25s ease;
					&:hover,
					&:focus {
						//color: $medium-gray;
					}
					br {
						display: none;
					}
				}
				&.is-accordion-submenu-parent {
					button {
						padding-right: 3.25rem;
						&:after {
							border: 0;
							background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="13.585" viewBox="0 0 22 13.585"><path d="M19.415 0 11 8.397 2.585 0 0 2.585l11 11 11-11Z" fill="%234DA5FC"/></svg>');
							background-repeat: no-repeat;
							background-size: contain;
							background-position: center;
							display: block;
							width: 22px;
							flex: 0 0 22px;
							height: 17px;
							transition: all .3s ease;
							transform-origin: center;
							margin-top: 20px;
						}
						&:hover,
						&:focus,
						&[aria-expanded="true"] {
							&:after {
								background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="13.585" viewBox="0 0 22 13.585"><path d="M19.415 0 11 8.397 2.585 0 0 2.585l11 11 11-11Z" fill="%23fff"/></svg>');
								background-repeat: no-repeat;
								background-size: contain;
								background-position: center;
							}
						}
					}
					.submenu {
						background-color: $color-navy-blue;
						li {
							a {
								color: $color-link-blue;
								span {
									display: block;
									&.subtitle {
										font-size: rem-calc(15);
										line-height: 1.2;
										padding-top: 2px;
									}
								}
							}
							&:hover,
							&:focus,
							&.current-menu-item {
								a {
									background-color: #313131;
									color: $white;
								}	
							}
						}
						&.is-active {
							
						}
					}
				}
			}
		}
		.global-ctas {
			row-gap: 30px;
			padding-top: 0.7rem;
			.link-wrap {
				width: 100%;
				text-align: center;
			}
			a.button {
				padding: 0.825em 2.5967em;
				width: 100%;
				max-width: rem-calc(255);
			}
		}
		.get-info-wrap {
			padding-top: 52px;
		}
	}
}