.relative {
	position: relative;
}
.overflow-hidden {
	overflow: hidden;
}
.has-object-fit {
	position: relative;
	overflow: hidden;
		img.img-fill,
		video.img-fill {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;	
		}	
}
.uppercase {
	display: uppercase;	
}
.z-1 {
	z-index: 1;
}
.bg-navy {
	background-color: $color-navy-blue;
}