h1,
.h1 {
	font-size: clamp(2.625rem, 2.493rem + 0.563vw, 3rem);
}

h2,
.h2 {
	font-size: clamp(2.375rem, 2.331rem + 0.188vw, 2.5rem);
}

h3,
.h3 {
	font-size: clamp(1.875rem, 1.743rem + 0.563vw, 2.25rem);
}

h4,
.h4 {
	font-size: clamp(1.5rem, 1.368rem + 0.563vw, 1.875rem);
}

h5,
.h5 {
	font-size: clamp(1.25rem, 1.118rem + 0.563vw, 1.625rem);
}

p,
.p,
ul,
ol {
	font-size: rem-calc(18);
	line-height: 2.22222;
}

.weight-semibold {
	font-weight: 500;
}
.line-height-1 {
	line-height: 1;
}
.font-header {
	font-family: $header-font-family;
}
.color-white {
	color: $white;
}
.color-light-blue {
	color: $color-light-blue;
}
.color-light-gray {
	color: $light-gray;
}
.color-text-light-gray {
	color: $color-text-light-gray;
}
.color-link-blue {
	color: $color-link-blue;
}
.uppercase {
	text-transform: uppercase;
}