$mobile_header_height: 104px;

// Fonts

// Colors
$color-light-blue: #BCDAF8;
$color-link-blue: #4DA5FC;
:root {
	--color-link-blue: #4DA5FC;
}
$color-text-light-gray: #E8E5E5;
$color-navy-blue: #1E1E38;
