.button.chev-btn {
	display: inline-flex !important;
	transition: background-color .25s ease, color .25s ease;
	.inline-icon-wrap {
		white-space: nowrap;
	}
	svg {
		margin-left: rem-calc(20);
		display: inline-block;
		vertical-align: middle;
		width: auto;
		path {
			transition: all .25s ease;
		}
	}
	&.bg-gray-75 {
		background: rgba(#0F0F1F, .75);
		&:hover,
		&:focus {
			background: rgba(#0F0F1F, 1);
		}
	}
	&.color-link-blue {
		color: $color-link-blue;
		&:hover,
		&:focus {
			color: $color-text-light-gray;
			svg path {
				fill: $color-text-light-gray;
			}
		}
	}
}