.media-slider {
	.swiper-slide.no-swipe {
		height: auto;
	}
	.v-modal-trigger,
	.arrows-thumbs .thumb {
		cursor: pointer;
		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			path,
			g {
				transition: all .25s ease;
			}
		}
		&:hover,
		&:focus {
			svg {
				g[data-name="play-icon-bg"] {
					fill: $color-link-blue;
				}
				path[data-name="play-icon-polygon"] {
					fill: $color-navy-blue;
				}
			}
		}
	}
	.media-slider-thumbnails {
		.swiper-slide {
			&.swiper-slide-thumb-active {
				.thumb {
					cursor: default;
				}
			}
		}
	}
	.thumb {
		cursor: pointer;
	}
	.swiper-btn {
		&:after {
			display: none;
		}
	}
	.swiper-button-next, 
	.swiper-button-prev {
		position: static;
		cursor: pointer;	
		height: auto;
		margin: 0;
	}
	.arrows-thumbs {
		padding-top: 42px;
		.thumb {
			
		}
	}
}
.msv-reveal {
	.close-button {
		padding: 1rem;
		margin-top: -1rem;
		margin-right: -1rem;
		cursor: pointer;
		svg path {
			transition: all .25s ease;
		}
		&:hover,
		&:active {
			svg path {
				fill: $color-navy-blue;
			}
		}
	}
}