.page-banner {
	position: relative;
	overflow: hidden;
	.bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.content {
		width: 100%;
		z-index: 2;
	}
	h1,
	.h1 {
		color: $white;
	}
	.hero-slider {
		opacity: 0;
		transition: opacity .3s ease .1s;
		.swiper-wrapper {
			min-height: 56.25vw;
		}
		.swiper-slide {
			display: flex;
			height: auto;
			.content {
				height: auto;
			}
		}
		&.swiper-initialized {
			opacity: 1;
		}
		.pagination-container {
			.swiper-pagination {
				position: absolute;
				z-index: 1;
				width: 100%;
				right: 0;
				bottom: 0;
				transform: translate(0, -10rem);	
			}
		}
		.swiper-pagination {
			position: static;
			.swiper-pagination-bullet {
				opacity: 1;
				width: 16px;
				height: 16px;
				background: transparent;
				border: 2px solid $color-link-blue;
				border-radius: 0 6px 0 6px;
				margin: 11px;
				transition: background-color .25s ease;
				&:not(.swiper-pagination-bullet-active):hover,
				&:not(.swiper-pagination-bullet-active):focus {
					background-color: $color-link-blue;
				}
				&.swiper-pagination-bullet-active {
					cursor: default;
					border-color: $white;
					background-color: $white;
					filter: drop-shadow(1px 1px 11px $color-link-blue);
				}
			}
		}
	}
	&.style-home-hero-slider,
	&.style-full-width-hero-slider {
		h1,
		.h1 {
			color: $white;
			margin-bottom: 0;
			text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.69);
		}
		.content {
			z-index: 1;
			width: 100%;
			padding-top: clamp(4.5rem, 2rem + 10.667vw, 10rem);
			padding-bottom: clamp(4.5rem, 2rem + 10.667vw, 10rem);
			@include breakpoint(medium) {
				padding-top: 10rem;
				padding-bottom: 10rem;
			}
			.grid-container {
				padding-top: var(--topBarHeight);
			}
		}
	}
	&.style-home-hero-slider {
		.bg {
			&:after {
				content: '';
				display: block;
				position: absolute;
				z-index: 0;
				top: 0;
				left: 0;
				width: 100%;
				height: 365px;
				background: linear-gradient(0deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.98) 100%);
				@include breakpoint(medium down) {
					display: none;
				}
			}
		}
		h1,
		.h1 {
			line-height: 1.01;
			text-align: center;
			@include breakpoint(medium) {
				text-align: start;
			}
			span {
				display: block;
				font-size: clamp(2rem, 1.602rem + 1.697vw, 2.875rem);
				&:nth-child(2) {
					font-size: clamp(2.813rem, 2.273rem + 2.303vw, 4rem);
				}
			}
		}
		.content {
			z-index: 1;
			width: 100%;
			padding-top: clamp(4.5rem, 2rem + 10.667vw, 10rem);
			padding-bottom: clamp(4.5rem, 2rem + 10.667vw, 10rem);
			@include breakpoint(medium) {
				padding-top: 10rem;
				padding-bottom: 10rem;
			}
			.grid-container {
				flex-wrap: nowrap;
			}
			.title-wrap {
				flex: 1;
				h1 {
					text-shadow: 0px 0px 8px rgba(0,0,0,1);
				}
			}
			.link-wrap {
				padding-top: 37px;
				text-align: center;
				@include breakpoint(medium) {
					text-align: start;
				}
			}
		}
	}
	&.style-default-hero-slider {
		.slider-wrapper {
			border-top-right-radius: clamp(5.313rem, 3.442rem + 7.981vw, 10.625rem);
			border-bottom-left-radius: clamp(5.313rem, 3.442rem + 7.981vw, 10.625rem);
			overflow: hidden;
		}
		.content {
			min-height: clamp(0rem, -19.233rem + 82.062vw, 42.313rem);
			padding-top: clamp(3.75rem, 3.31rem + 1.878vw, 5rem);
			padding-bottom: clamp(3.75rem, 3.31rem + 1.878vw, 5rem);
			@include breakpoint(medium) {
				padding-top: 7rem;
				padding-bottom: 7rem;
			}
			h1,
			.h1 {
				margin-top: 0 !important;	
				@include breakpoint(small down) {
					margin-bottom: 0 !important;	
				}
			}
			p {
				font-size: clamp(1.25rem, 1.074rem + 0.751vw, 1.75rem);
				font-weight: 600;
				@include breakpoint(small down) {
					display: none;
				}
			}
		}
	}
	&.style-quote-slider {
		@include breakpoint(tablet) {
			.img-mask {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 356px;
				max-height: 70%;
				box-shadow: inset 0px 203px 99px 0px rgba(0,0,0,1);
			}
		}
		.swiper-slide {
			padding-bottom: 5rem;
			.grid-container {
				padding-top: var(--topBarHeight);	
			}
			.content {
				padding: 4rem 0 1.5rem;
				@include breakpoint(tablet) {
					padding: 10rem 50px 0;
				}
				img {
					max-width: 40px;
					@include breakpoint(medium) {
						max-width: 50px;
					}	
					@include breakpoint(tablet) {
						max-width: clamp(4.813rem, 3.875rem + 4vw, 6.875rem);
					}
				}
			}
		}
		.h1 {
			line-height: .8769;
			margin: 0;
			font-size: 2rem;
			@include breakpoint(medium) {
				font-size: clamp(2.844rem, 2.29rem + 2.364vw, 4.063rem);
			}
		}
		.blue-text {
			color: #86B8F2;
		}
		.swiper-btn {
			margin: 0;
		}
		.swiper-button-prev {
			left: 40px;
			&:after {
				content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="28.47" height="47.217" viewBox="0 0 28.47 47.217"><path data-name="Path 458" d="M25.569 44.462 5.548 23.384l20.021-20.6" fill="none" stroke="%2386b8f2" stroke-width="8"/></svg>');
			}
		}
		.swiper-button-next {
			right: 40px;
			&:after {
				content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="28.47" height="47.217" viewBox="0 0 28.47 47.217"><g data-name="Group 454"><path data-name="Path 458" d="m2.902 2.753 20.021 21.078-20.021 20.6" fill="none" stroke="%2386b8f2" stroke-width="8"/></g></svg>');
			}
		}
		.pagination-container .swiper-pagination {
			transform: translate(0, -1rem);
		}
	}
	.img-wrap,
	.video-wrap {
		height: 100%;
	}

}

body:not(.home) .page-banner .hero-slider .swiper-wrapper {
	min-height: 42.067vw;
}
body:not(.home) .page-banner.style-quote-slider .swiper-wrapper {
	@media (min-width: 1550px) {
		min-height: 652px;
	}
}