.block.product-profile {
	padding-bottom: clamp(1.125rem, 0.905rem + 0.939vw, 1.75rem);
	@include breakpoint(large) {
		width: calc(116.666666% + 40px);
		margin-left: calc(-8.33333% - 20px);
	}
	@include breakpoint(xxlarge) {
		width: calc(122% + 20px);
		margin-left: calc(-11% - 10px);
	}
	.inner {
		background-color: #F7F7F7;
		border: 8px solid $white;
		border-radius: 200px 0 200px 0;
		border-radius: clamp(6.25rem, 4.049rem + 9.39vw, 12.5rem) 0 clamp(6.25rem, 4.049rem + 9.39vw, 12.5rem) 0;
		overflow: hidden;
		box-shadow: 0px 0px 10px 0px $color-link-blue;
		padding: clamp(1.25rem, 1.03rem + 0.939vw, 1.875rem) clamp(1.375rem, 0.429rem + 4.038vw, 4.063rem);
		.left {
			padding-top: 40px;
			.left-inner {
				max-width: 615px;
				.ip-profiles > .cell {
					display: flex;
					align-items: center;
					@include breakpoint(small down) {
					}
				}
			}
			.ip-profiles {
				padding-top: clamp(1.75rem, 1.486rem + 1.127vw, 2.5rem);
			}
		}
		.right {
			padding-top: 20px;
			padding-bottom: 20px;
			@include breakpoint(medium down) {
				h2 {
					margin-top: 0;
				}
			}
			.btns-group {
				padding-top: 10px;
				gap: 29px;
			}
		}
	}
}