.video-block {

	.video-block-item {
		margin-bottom: $smallGutter;
		@include breakpoint(medium) {
			margin-bottom: $mediumGutter;
		}
		@include breakpoint(small down) {
			max-width: 400px;
		}
		.img-wrap {
			padding-top: 55.788%;
		}
		p {
			margin: .3em 0 0;
			line-height: 1.25;
			transition: color .25s ease;
		}
		a {
			color: $black;
			&:hover,
			&:active {
				p {
					color: $color-link-blue;
				}
			}
		}
	}

	.inline-popup {
		text-align: center;
	}
	
	.mfp-iframe-scaler,
	.mfp-inline-scaler {
		position: static;
	}
	
	.mfp-title {
		position: absolute;
		padding-top: 10px;
		font-family: 'droid_sansregular', sans-serif;
	}
	
	.videopopuptitle {
		color: #F3F3F3;
	}
}
.mfp-wrap.mfp-gallery.mfp-close-btn-in.mfp-auto-cursor.mfp-ready,
.mfp-bg.mfp-ready {
	z-index: 999999;
}
.mfp-bg {
	background: rgba(0, 0, 0, 0.8);
	opacity: 1;
}
.mfp-iframe-holder,
.mfp-inline-holder {
	.mfp-close, 
	.mfp-close {
		color: #fff;
		height: 40px;
		width: 40px;	
		top: -40px;
		right: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.mfp-content {
		line-height: 0;
		width: 100%;
		max-width: 900px;
	}
	.inline-popup {
		width: 100%;
		height: 0;
		overflow: hidden;
		padding-top: 56.25%;
	}
	video {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: 0 0 8px rgba(0, 0, 0, .6);
		background: #000;
	}
}
